# バイナリファイル
*.exe
*.exe~
*.dll
*.so
*.dylib

# テストバイナリ
*.test

# カバレッジファイル
*.out

# airによって生成される一時ディレクトリ
tmp/

# 依存関係
vendor/

# Go関連
go.sum

# IDE関連
.idea/
.vscode/
*.swp
*.swo

# OSファイル
.DS_Store
Thumbs.db 